<div class="navbar bg-base-100 shadow-sm border-b border-base-200">
    <div class="flex-1 gap-3 items-center">
        <label for="my-drawer-2" class="btn btn-ghost p-0 min-h-0 h-auto hover:bg-transparent drawer-button">
            <div class="bg-primary/10 p-2 rounded-lg text-primary hover:bg-primary/20 transition-colors cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                </svg>
            </div>
        </label>
        <a class="text-xl font-bold tracking-tight text-base-content" href="/">CyberLab</a>
    </div>
    <div class="flex-none gap-2">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full w-12">
                    <span class="text-2xl">{{ current_user.username[0] | upper if current_user.is_authenticated else 'U'
                        }}</span>
                </div>
            </label>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.profile') }}" class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>